@model CRM.Models.Campaign

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Campaign</legend>

    <div class="display-label">
         Name
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CampaignName)
    </div>
    <hr />
    <div class="display-label">
         Start date
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CampaignStartDate)
    </div>
    <hr />
    <div class="display-label">
        End date
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CampaignEndDate)
    </div>
    <hr />
    <div class="display-label">
        Campaign status
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CampaignStatus)
    </div>
    <hr />
    <div class="display-label">
        Expected revenue
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CampaignExpectedRevenue)
    </div>
    <hr />
    <div class="display-label">
        Actual cost
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CampaignActualCost)
    </div>
    <hr />
    <div class="display-label">
         Budgeted cost
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CampaignBudgetedCost)
    </div>
    <hr />
    <div class="display-label">
         Expected revenue
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CampaignExpectedResponse)
    </div>
    <hr />
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
