@model IEnumerable<CRM.Models.Campaign>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
           Start Date
        </th>
        <th>
            End Date
        </th>
        <th>
            Status
        </th>
        <th>
           Expected Revenue
        </th>
        <th>
           Cost
        </th>
        <th>
           Budgeted cost
        </th>
        <th>
           Expected response
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CampaignName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CampaignStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CampaignEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CampaignStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CampaignExpectedRevenue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CampaignActualCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CampaignBudgetedCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CampaignExpectedResponse)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CampaignId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CampaignId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CampaignId })
        </td>
    </tr>
}

</table>
